table {
    width: 100%;
    text-align: center;
}

.tblheader {
    background-color: mediumpurple;
    color: white;
}

.tblcontext {
    font-weight: 600;
}

.msg {
    text-align: center;
    color: blueviolet;
    font-family: 'Coiny', cursive;
}