#rightpos {
    position: absolute;
    right: 400px;
    top: 230px;
}

h2 {
    text-align: center;
}

table {
    text-align: center;
}

.tablehead {
    background-color: mediumpurple;
    color: white;
}
