#RedoBTN {
    position: absolute;
    right: 21%;
    top: 31%;
}

table {
    width: 100%;
    text-align: center;
}

.headertbl {
    background-color: darkcyan;
    color: white;
    font-weight:600;
}

#NoOfShifts {
    position: absolute;
    color:black;
    font-weight:600;
}

.SavedSubmitBTN {
    position: absolute;
    top: 26%;
    right: 21%;
}

.btn-block {
    width: 20%;
}

.fontheader {
    color: mediumpurple;
    font-family: 'Coiny', cursive;
}

.title {
    text-align: center;
}

label{
    color:black;
}

.bold{
    font-weight:600;
}

