@media print {
    body {
        color: black;
        width: 100%;
        margin: 0;
        float: none;
    }

    h2 {
        font-size: 14pt;
        margin-top: 25px;
    }

    table {
        page-break-inside: auto
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    .no-print, .no-print * {
        display: none !important;
    }

    .headercolor{
        color:black;
        font-weight:600;
    }
}
