table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 8px;
}

th {
    background-color:black;
    color:hotpink;
}

    th:first-child, td:first-child {
        position: sticky;
        left: 0px;
    }

td:first-child {
    background-color:lightpink;
}

mark {
    background-color:floralwhite;
}

/*.table.table-hover.table-bordered tr:hover { 
    background: none; 
}*/

td:hover {
    background: lightgray;
}

h2{
    text-align:center;
}

td:hover {
    background-color: lightgrey;
}

.table-bordered td {
    border-color: black;
}

.table-bordered th {
    border-color: white;
}


.table-hover.table-hover-cells > tbody > tr:hover > th:hover,
.table-hover.table-hover-cells > tbody > tr:hover > td:hover {
    background-color: lightslategrey;
}


.table-hover.table-hover-cells > tbody > tr.active:hover > th:hover,
.table-hover.table-hover-cells > tbody > tr.active:hover > td:hover {
    background-color: #d8d8d8;
}

h1 > .divider:before,
h2 > .divider:before,
h3 > .divider:before,
h4 > .divider:before,
h5 > .divider:before,
h6 > .divider:before,
.h1 > .divider:before,
.h2 > .divider:before,
.h3 > .divider:before,
.h4 > .divider:before,
.h5 > .divider:before,
.h6 > .divider:before {
    color: #777;
    content: "\0223E\0020";
}