h2{
    text-align:center;
}

tr > th{

    text-align:center;
    background-color:mediumpurple;
    color:white;
    font-weight:600;
}

.rightpos {
    position: absolute;
    right: 21%;
    top: 22%;
}

tr > td {
    color:black;
    text-align:center;
}

h4{
    text-align: center;
}