table {
    width: 100%;
    text-align: center;
}

h2{
    text-align:center;
}

.tblheader {
    text-align: center;
    background-color: cornflowerblue;
    color: white;
}

.tblcontext {
    text-align: center;
    background-color: aliceblue;
    font-weight: 600;
}
